/*
Navigation bar styling
*/
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #111;
}
/*
Table styling
*/
#data table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

#data td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 10%;
}
#data tr:nth-child(even) {
    background-color: #dddddd;
}

@media screen and (max-width: 600px){
#navbar    
    li.right, 
    li {float: none;}
}